<header>
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <div class="navbar-nav mr-auto">
      <h1><%= link_to "探求学園Rails専攻", root_path, class: "nav-link navbar-brand" %></h1>
    </div>
    <% if current_user.present? %>
      <div>
        <ul>
          <p><%= current_user.last_name %> <%= current_user.first_name %>さん</p>
        </ul>
        <ul class="navbar-nav">
          <%= link_to "商品検索", products_path, class: "nav-link text-dark" %>
          <%= link_to "カート", root_path, class: "nav-link text-dark" %> <!-- # TODO カート機能未実装のため cart_path に変更の必要あり -->
          <%= link_to "注文履歴", root_path, class: "nav-link text-dark" %> <!-- # TODO 注文履歴機能未実装のため order_path に変更の必要あり -->
          <%= link_to "ユーザー情報", user_path(current_user.id), class: "nav-link text-dark" %>
          <%= link_to "ログアウト", logout_path, method: :delete, class: "nav-link text-dark" %>
        </ul>
      </div>
    <% else %>
      <div>
        <ul>
          <li>
            <%= link_to "ログイン", login_path, class: "text-dark" %>
            <%= link_to "新規登録", new_user_path, class: "text-dark" %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</nav>
</header>